<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Position</title>
</head>
<body>
    <!--获取股票持仓-->
    {% if stock %}
        <table border="1">
            <thead>
                <th colspan="11">股票持仓</th>
            </thead>
            <thead>
                <th>序号</th>
                <th>股票代码</th>
                <th>股票名称</th>
                <th>交易所</th>
                <th>所属板块</th>
                <th>所属行业</th>
                <th>持仓量</th>
                <th>成本价</th>
                <th>现价</th>
                <th>市值</th>
                <th>盈亏</th>
            </thead>
        {% for i in range(len(stock)) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ stock[i][2] }}</td>
                <td>{{ stock[i][3] }}</td>
                <td>{{ stock[i][4] }}</td>
                <td>{{ stock[i][5] }}</td>
                <td>{{ stock[i][6] }}</td>
                <td>{{ stock[i][8] }}</td>
                <td>{{ stock[i][9] }}</td>
                <td>{{ stock[i][10] }}</td>
                <td>{{ stock[i][11] }}</td>
                <td>{{ stock[i][12] }}</td>
            </tr>
        {% end %}
        </table>
    {% end %}
    <!--获取期货持仓-->
    {% if future %}
    <table>
        <tr>
            <th colspan="9">期货持仓</th>
        </tr>
        <tr>
            <th>序号</th>
            <th>期货代码</th>
            <th>期货名称</th>
            <th>交易所</th>
            <th>所属板块</th>
            <th>持仓量</th>
            <th>成本价</th>
            <th>现价</th>
            <th>市值</th>
            <th>盈亏</th>
        </tr>
    </table>
    {% end %}
    <form>
        <input type="button" value="click me" onclick="alert(hi)"/>
    </form>
</body>
</html>